{{yield}}

{{#if selected}}
<div class="movie-info">
  <h3>{{movie.title}}</h3>
  <p class="release-date">{{date-formatter movie.release_date}}</p>
  <p class="inventory">{{movie.inventory}} in stock</p>
  <p>{{movie.overview}}</p>
  <button class="add-to-queue" {{action "addToQueue" movie.id}}>Add To Queue</button>
</div>
{{/if}}
<div class="movie">
  <img {{action "toggleSelected"}} class="poster" alt="" src="http://localhost:3000/images/posters/{{movie.poster_filename}}">
  <button class="add-to-queue" {{action "addToQueue" movie.id}}>+</button>
</div>

{{!-- I want to make the add to queue button a small square with a plus that is off to one side, when you
hover over it it should expand out to the right (pretty animation) and say "Add to Queue". When the
movie is in the queue the button has a check mark instead of a plus and when you hover over it, it
still expands out but instead it says "Remove from Queue" --}}
