{{#each queuedMovies as |movie|}}
  {{!-- {{movie}} --}}
  {{#if queued}}
    <div {{action "addToQueue" movie.id}}class="movie">
        <p>Title: {{movie.title}}</p>
        <img class="poster" alt="" src="http://localhost:3000/images/posters/{{movie.poster_filename}}">
          <div class="movie-info">
            <p>Released: {{movie.release_date}}</p>
            <p>Overview:{{movie.overview}}</p>
            <p>Invetory: {{movie.inventory}}</p>
          </div>
    </div>
  {{/if}}
{{/each}}
