<button {{action "navBack"}}>Previous</button>
<button {{action "navForward"}}>Next</button>

<div class="something">
  <div class="movies">
    {{#each model as |movie|}}
      <div {{action "toggleSelected" movie.id}}class="movie">
        <img class="poster" alt="" src="http://localhost:3000/images/posters/{{movie.poster_filename}}">
        <button class="add-to-queue" {{action "addToQueue" movie.id}}>+</button>
        <p>{{movie.title}}</p>
        {{#if selected}}
          <div class="movie-info">
            <p>Released: {{movie.release_date}}</p>
            <p>Overview:{{movie.overview}}</p>
            <p>Invetory: {{movie.inventory}}</p>
            <button class="add-to-queue" {{action "addToQueue" movie.id}}>Add To Queue</button>
          </div>
        {{/if}}
      </div>
    {{/each}}
  </div>

  <div class="queue">
    <p>queue</p>
    {{queue-queue queuedMovies=model}}
  </div>
</div>
